_esy
.vscode
bin

# Ignore everything within _build folder
# Except the _doc whith contains the generated doc
_build/*
!_build/default
_build/default/*
!_build/default/_doc/
_build/default/_doc/*
!_build/default/_doc/*

# nix
.direnv
